# Files to ignore

# Python specific files
.spyderworkspace
.spyderproject
*.pyc
*.so
*.o
*.vtu
*.pvd
*~
*.ipynb_checkpoints

# saved numpy-arrays
*.npy
*.pdf
*.dat
/tests/temp/*.pkl

# Folders to ignore
pyfeti.egg-info
docs/_build
results/
build/
dist/
private/
.idea/
.spyproject/
.vs/
__pycache__/
.egg-info
