# Files to ignore

# Python specific files
.spyderworkspace
.spyderproject
*.pyc
*.so
*.o
*.vtu
*.pvd
*~
*.ipynb_checkpoints

# saved numpy-arrays
*.npy
*.pdf
*.dat
*.npz

# Folders to ignore
contpy.egg-info
docs/_build
results/
build/
tmp/
temp/
dist/
private/
.idea/
.spyproject/
.vs/
.vscode
__pycache__/
.egg-info
